<div ng-controller="loginController as ctrl" class="main">
    <form name="loginForm" class="text-center">
        <div class="login-page">
            <div class="form">
                <h1 class="pb-4" style="color: #f2f2f2;">BINGO</h1>
                <input type="text" placeholder="Username" ng-model="ctrl.model.username" required>
                <input type="password" placeholder="Password" ng-model="ctrl.model.password" required>
                <button id="login" type="submit" ng-click="send()">Submit</button>
                <a href="" ng-click="register()">Register</a>
            </div>
        </div>
    </form>
</div>